.navbar{
  width: 100%;
  height: $nav-height;
  margin-top: 0px;
  background-color: $site-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;

  nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      color: $site-black;
      text-decoration: underline;
    }
  }
}
