.s3 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }
}

.s4 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }
}

.s5 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 100px;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }
}
