.s3 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 150px;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }

  .initial-img {
    width: 460px;
    height: 300px;
    float: right;
    margin-left: 10px;
    border: 2px solid $site-github;
  }
}

.s4 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 200px;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }

  .fetch {
    width: 460px;
    height: 360px;
    margin-left: 10px;
    float: right;
    border: 2px solid $site-github;
  }
}

.s5 {
  width: 1280px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 200px;

  h2 {
    font-size: 30px;
    color: $site-github;
  }

  p {
    font-size: 15px;
  }

  .push {
    width: 460px;
    height: 360px;
    margin-left: 10px;
    float: right;
    border: 2px solid $site-github;
  }
}

.link {
  width: 1280px;
  display: flex;
  margin: 0 auto;
}
